/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  h1 {
    font-size: 260%;
    line-height: 116%;
    padding-left: 8%;
  }

  .h1-home-login-signup {
    width: 100%;
    text-align: center;
    padding-top: 10%;
  }

  .h1-files {
    padding-top: 18%;
  }
  
  h2 {
    font-size: 170%;
    line-height: 116%;
    /*padding-left: 8%; */
  }
  
  .h2-home {
    margin: 0;
    width: 102%;
    text-align: center;
    padding-top: 6%;
  }

  .h2-files {
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 2%;
    margin-bottom: 10%;
  }

  .h2-menu {
    margin: 0;
    padding-top: 5%;
    display: flex;
    justify-content: center;
  }

  h3 {}
  
  p {
    margin: 0;
    margin-top: 20%;
  }

  .p-home {
    margin: 0;
    width: 100%;
    text-align: justify;
    margin-bottom: 14px;
    padding: 8%;
  /* border-radius: 10px; */
  /* border: 1px solid #343a40; */
  }

  .p-account {
    margin: 0;
    padding-top: 7%;
    width: 100%;
    text-align: center;
  }
  
  .p-navbar {
    margin: 0;
 /* width: 55%; */
    color: #F2F2F1;
  }

  .p-footernav {
    margin: 0;
  }
  
  .p-dish {
    margin: 0;
    margin-top: 5%;
  }

  .p-dish-category {
    margin: 0;
    margin-top: 5%;
    font-size: 80%;
  }

  div {
    margin: 0;
    padding: 0;
  }

  .div-home {
    margin: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 14px;
    padding: 3%;
  /* display: flex; */
    flex-direction: column;
  }

  .div-done {
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 20%;
  }


  .div-order-list {
    margin: 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #EC734D;
  }

  .div-subcategories {
    margin: 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #EC734D;
  }

  .div-dish {
    border-top-style: dotted;
    border-color: #EC734D;
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #EC734D; /*  #ec7374;*/
    grid-column-start: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.5%;
    border-radius: 4px;
    /* border: 1px solid #F2F2F1;  /* #343a40; */
  }

  .logo-home {
    width: 80%;
  }
  
  .logo {
    width: 40%;
  }

  .footer-nav {
    position: fixed;
   /* position: fixed; ponerlo en vez del absolute (cuando el logout este bien situado)*/
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0%;
    background-color: #F2F2F1;
    text-align: center;
    display: flex;
    align-items: center;
  }


  .icon-restaurant {
    width: 50%;
  }

  .icon-search {
    width: 60%;
  }

  .icon-scan {
    width: 85%;
  }

  .icon-profile {
    width: 75%;
  }

  .icon-logout {
    width: 50%;
  }

  .trash-icon {
    width: 15%;
}

  a {
    margin: 0;
  }

  .a-tittle{
    margin: 4%;
    width: 100%;
    text-align: center;
  }

  form {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 14px;
    padding: 3%;
  }

  .form-dish {
    border-radius: 10px;
    border: 1px solid #EC734D;
  }

  label{
    display: block;
    padding-top: 5%;
    margin-bottom: 2%;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: bold;
  }


  input {
    margin: 2%;
    font-size: 16px;
    margin-bottom: 14px;
    padding: 3%;
    border-radius: 10px;
    border: 1px solid #EC734D;
  }

  .input-dish {
    width: 13%;
  }

  .box {
    border-radius: 5px;
    border: 1px solid #343a40;
  }

  .button {
    padding: 7px 20px;
    text-align: center;
    font-size: 18px;
    background-color: #EC734D;
    cursor: pointer;
    border-radius: 11px 11px 11px 11px;
    border: none;
    color: #f5f5f5;
    font-weight: bold;
    width: 35%;
    margin-top: 5%;
  }

  .button-dish {
    padding: 7px 20px;
    text-align: center;
    font-size: 18px;
    background-color: #EC734D;
    cursor: pointer;
    border-radius: 11px 11px 11px 11px;
    border: none;
    color: #f5f5f5;
    font-weight: bold;
    width: 13%;
    margin-top: 5%;
  }
