/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  h1 {
    font-size: 260%;
    line-height: 116%;
    padding-left: 8%;
  }
  
  h2 {}
  
  h3 {}
  
  p {
    margin: 0;
  }
  

  div {

  }

  a {
    margin: 4%;
    display: flex;
    justify-content: center;
  }