/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  h1 {
    font-size: 260%;
    line-height: 116%;
    padding-left: 8%;
  }
  
  h2 {}
  
  h3 {}
  
  p {
    margin: 0;
  }
  

  div {
    margin: 0;
    padding: 0;
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background:#efefef;
    grid-column-start: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
  }

  .footer-nav {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    display: flex;
  }

  a {
    margin: 4%;
    display: flex;
    justify-content: center;
  }

  form {
    margin: 25%
  }

  label{
    
  }